<nav class="blue darken-3">
    <div class="nav-wrapper container">

        <a " href="/dashboard" class="brand-logo center">پاتوق</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a style="color: orange;" href="/stories">مطالب عمومی</a></li>
            <li><a style="color: orange;" href="/dashboard">داشبورد</a></li>
            <li><a style="color: red;" href="/auth/logout">خروج</a></li>
        </ul>
    </div>
</nav>