<h3> <span class="patogh">پاتوق</span> </h3>

<div class="section">
    <p class="lead h-pro">:) مطالب خود را با ما به اشتراک بگذارید</p>
</div>
{{!-- <div class="divider"></div> --}}
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> ورود با حساب گوگل
    </a>
</div>
