<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="icon" href="/images/iconfinder_letter_P_blue_1553050.png" type="image/png">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .color-change-4x {
            -webkit-animation: color-change-4x 6s linear infinite alternate both;
            animation: color-change-4x 6s linear infinite alternate both;
        }

        @-webkit-keyframes color-change-4x {
            0% {
                background: #19dcea;
            }

            33.3333% {
                background: #ffd82c;
            }

            66.666% {
                background: #ea2222;
            }

            100% {
                background: #92f510;
            }
        }

        @keyframes color-change-4x {
            0% {
                background: #1996ea;
            }

            33.3333% {
                background: #2ce6ff;
            }

            66.666% {
                background: #ea2222;
            }

            100% {
                background: #f5be10;
            }
        }
    </style>
    <title>Patogh Login</title>
</head>

<body class="color-change-4x ">
    <div class="container login-container">
        <div class="card-login">
            <div class="card-content cardcon">
                {{{body}}}
            </div>
        </div>
    </div>

    <pre dir="ltr" class="creat">Created By <pre style="color: rgb(255, 4, 4); border-bottom: 1px solid red;">Omid</pre>
    </pre>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>